body,
html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/****************************************************
   CMS LOGIN
****************************************************/
#root {
	width: 100%;
	height: 100%;
}

.App {
	width: 100%;
	height: 100%;
}

.login-page {
	background: #1f75fe;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	background-color: #ffffff;
	min-width: 360px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 10px 0px #666;
	-webkit-box-shadow: 0px 2px 10px 0px #666;
}

.login-container > h1 {
	padding: 5px;
	margin: 10px 0px 5px 0px;
	font-size: 26px;
	font-family: var(--popn);
	color: #002e63;
}

.login-container form {
	width: 100%;
	padding: 0px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container form > input {
	padding: 5px;
	margin: 5px;
	width: 70%;
}

.login-container form > button {
	background: #1f75fe;
	margin: 15px 0px 0px 0px;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	color: #ffffff;
	font-family: var(--popn);
	cursor: pointer;
}

/****************************************************
   IMAGE GALLERY SECTION
****************************************************/
.cms-navbar {
	background: #002e63;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.cms-navbar > ul {
	/* background: green; */
	width: 80%;
	height: auto;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.cms-navbar > ul li {
	margin: 5px;
	height: auto;
	list-style: none;
}

.cms-navbar > ul li a,
.cms-navbar > ul li button {
	background: #1f75fe;
	padding: 10px 25px;
	text-decoration: none;
	color: white;
	font-family: var(--popn);
	font-size: 14px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.cms-navbar > ul li a:last-of-type {
	padding: 10px 12px;
}

.messages-nav {
	/* background: red; */
	margin: 15px 0px 0px 27px;
	display: flex;
}

.contact-messages-nav {
	/* background: yellow; */
	margin: 5px 15px 0px 0px;
	display: flex;
	justify-self: center;
	align-items: flex-start;
	font-family: var(--popn);
}

.message-link {
	background: #ffffff;
	border-radius: 4px;
	padding: 5px 10px;
	color: rgb(66, 66, 66);
	cursor: pointer;
}

.message-counter {
	background: red;
	min-width: 18px;
	border-radius: 20px;
	padding: 2px 4px 2px 2px;
	margin: 0px 6px;
	font-size: 12px;
	color: white;
	text-align: center;
}

/****************************************************
   CMS BODY SECTION
****************************************************/
.cms-body {
	background: rgb(245, 245, 245);
	width: 100%;
	height: auto;
	float: left;
	display: flex;
	justify-content: left;
}

.cms-page-preview {
	width: 100%;
	height: auto;
	display: flex;
	margin: 0px;
	padding: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: left;
}

/****************************************************
   IMAGE GALLERY SECTION
****************************************************/
.cms-asset-gallery {
	background: rgb(240, 240, 240);
	width: 570px;
	height: 100%;
	position: fixed;
	margin-left: -570px;
	z-index: 99999;
}

.asset-gallery-opened {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.asset-gallery-closed {
	display: none;
}

.close-asset-gallery {
	/* background: green; */
	width: 550px;
	height: auto;
	padding: 5px;
	margin: 5px;
}

.close-asset-gallery i {
	padding: 0px;
	margin: 0px;
	width: auto;
	height: auto;
	color: gray;
	float: right;
}

.close-asset-gallery i:hover {
	color: red;
}

#search {
	background: rgb(218, 218, 218);
	width: 550px;
	height: 25px;
	border: none;
	padding: 10px 0px 10px 10px;
	margin: 10px 5px;
	font-size: 12px;
}

#assetUpload,
#videoUpload {
	background: rgb(218, 218, 218);
	width: 550px;
	height: auto;
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#assetUpload input,
#videoUpload input {
	width: 550px;
	padding: 0px;
	margin: 0px;
	height: 40px;
	position: absolute;
	opacity: 0;
}

#assetUpload label,
#videoUpload label {
	font-family: var(--popn);
	font-size: 14px;
	color: white;
	margin: 2px 0px 0px 0px;
}

#assetUpload button,
#videoUpload button {
	background: #1f75fe;
	width: auto;
	height: auto;
	padding: 2px 6px;
	margin: 0px;
	font-family: var(--popn);
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	border: none;
	border-radius: 2px;
	z-index: 999;
	display: none;
}

#assetUpload button:hover,
#videoUpload button:hover {
	cursor: pointer;
}

#assetList {
	/* background: red; */
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

.asset {
	background: rgb(218, 218, 218);
	width: 170px;
	height: auto;
	padding: 5px;
	margin: 5px;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.asset-data-container {
	/* background: red; */
	width: 160px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#assetList li img {
	width: 225px;
	height: auto;
}

#assetList li p {
	font-family: var(--popn);
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.asset-props-container {
	/* background: blue; */
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 5px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
}

.asset-props-container p {
	color: gray;
	font-size: 10px;
	overflow: hidden;
}

.asset-actions-container {
	/* background: yellow; */
	width: 100%;
	height: auto;
	margin: 5px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.asset-actions-container button {
	background: #1f75fe;
	width: auto;
	height: auto;
	padding: 2px 6px;
	margin: 0px;
	font-family: var(--popn);
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	border: none;
	border-radius: 2px;
}

.asset-actions-container button.deleteAsset {
	background: rgb(218, 52, 52);
}

.asset-actions-container button:hover {
	cursor: pointer;
}

/****************************************************
   NEWS ARTICLES SECTION
****************************************************/
.news-article-crud-buttons {
	width: 100%;
	height: auto;
}

.edit-news-article,
.delete-news-article,
.btn-action {
	background: #1f75fe;
	width: auto;
	height: auto;
	padding: 5px 10px;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px 10px 0px 0px;
}

.delete-news-article,
.btn-delete {
	background: rgb(218, 52, 52);
}

/****************************************************
   PROJECTS SECTION
****************************************************/

.project-priority-indicator {
	padding: 5px;
	margin: 0px;
	color: #ffffff;
	text-align: center;
}

.project-featured-indicator {
	background: goldenrod;
	padding: 5px;
	margin: 0px;
	color: #ffffff;
	text-align: center;
	border-radius: 3px;
}

/****************************************************
   CONTENT EDITOR SECTION
****************************************************/
.edit-icon {
	/* background: red; */
	width: auto;
	padding: 5px;
	position: absolute;
	left: 0px;
	text-align: center;
	color: magenta;
	z-index: 999999;
}

.edit-icon.edit-carousel-content {
	top: 150px;
}

.edit-icon:hover {
	cursor: pointer;
}

/****************************************************
   MESSAGES SECTION
****************************************************/
.messages-container {
	/* background: blue; */
}

.messages-container ul {
	/* background: red; */
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.messages-container ul li {
	background: rgb(218, 218, 218);
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}

.delete-message {
	cursor: pointer;
}

/****************************************************
   APPLICATIONS SECTION
*****************************************************/
.applications {
	width: 100%;
	height: auto;
	margin: 20px 0px;
	padding: 0px;
	float: left;
}

.no-appliction-banner {
	padding: 20px 100px;
	float: left;
}

.application-data-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
}

.application-data-wrapper {
	background: #c7c7c7;
	width: 80%;
	height: auto;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	border-radius: 3px;
}

.application-bio {
	background: #e1e1e1;
	width: 25%;
	height: auto;
	margin: 5px;
	padding: 10px;
	border-radius: 2px;
}

.application-bio p {
	margin: 0px;
	padding: 0px;
}

.application-position-container {
	width: 40%;
	height: auto;
}

.application-message {
	background: #e1e1e1;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 10px;
	border-radius: 2px;
}

.application-message p {
	margin: 0px;
	padding: 0px;
}

.application-position {
	background: #e1e1e1;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 2px 5px;
	border-radius: 2px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.application-position p {
	margin: 0px;
	padding: 0px;
	text-transform: capitalize;
}

.application-resume-container {
	width: 35%;
	height: auto;
}

.application-resume {
	background: #e1e1e1;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 10px;
	border-radius: 2px;
}

.application-resume embed {
	width: 100%;
	height: auto;
	overflow: visible;
}

.application-actions {
	background: #e1e1e1;
	width: auto;
	height: auto;
	margin: 5px;
	padding: 10px;
	border-radius: 2px;
}

.application-actions button {
	cursor: pointer;
}

/****************************************************
   MODAL SECTION
*****************************************************/
.component {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-container {
	/* background: purple; */
	width: 100%;
	margin: 0px 0px -44px 0px;
}

.modal-button {
	/* background: #fe1f1f; */
	padding: 5px 14px 9px 14px;
	margin: 5px 5px 5px 25px;
	text-decoration: none;
	color: #00ff1c;
	font-family: var(--popn);
	font-size: 18px;
	border: solid 1px #00ff1c;
	border-radius: 2px;
	cursor: pointer;
}

.modal-wrapper {
	background-color: #ffffff;
	width: 70%;
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px 25px;
	padding: 0px 0px 30px 0px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px 0px #666;
	-webkit-box-shadow: 0px 2px 10px 0px #666;
	z-index: 999;
}

.modal-action-buttons {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}

.modal-action-buttons > div:first-child {
	margin-left: 50px;
}

.modal-action-button h3 {
	margin: 0px;
	padding: 0px;
}

.modal-action-buttons i {
	color: red;
	margin: 0px 5px;
	cursor: pointer;
}

.modal-action-buttons i:first-of-type {
	color: #1f75fe;
}

.modal-action-buttons i:last-of-type {
	margin-right: 15px;
}

.modal-input-wrapper {
	width: 90%;
	padding: 0px;
	margin: 0px;
}

.modal-wrapper li {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0px;
	margin: 5px 0px;
}

.modal-input {
	padding: 5px;
	font-size: 12px;
	margin: 5px 0px;
}

/****************************************************
   MODAL CAROUSEL SECTION
*****************************************************/
.modal-carousel-container {
	/* background: purple; */
	width: 100%;
	margin: 0px 0px -44px 0px;
	z-index: 999;
	position: absolute;
}

.modal-carousel-wrapper {
	background-color: #ffffff;
	width: 70%;
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px 25px;
	padding: 0px 0px 30px 0px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px 0px #666;
	-webkit-box-shadow: 0px 2px 10px 0px #666;
	z-index: 999;
}

.modal-carousel-slides-container {
	/* background: green; */
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.create-new-slide {
	/* background: red; */
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 0px;
}

.create-new-slide i {
	padding: 0px 10px;
	color: #1f75fe;
	font-size: 16px;
	cursor: pointer;
}

.slides-list {
	/* background: red; */
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
}

.modal-slide {
	background: rgb(238, 238, 238);
	width: 100%;
	height: auto;
	margin: 2px;
	padding: 3px 5px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-slide-image {
	width: 75px;
	height: auto;
}

.slide-details {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide-details * {
	padding: 0px 10px 0px 0px;
}

.slide-actions i {
	margin: 0px 5px;
	cursor: pointer;
	color: #1f75fe;
}

.modal-slide-preview {
	/* background: red; */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-slide-preview-title {
	/* background: blue; */
	width: 100%;
}

.modal-slide-preview-title > h3 {
	font-size: 1.5rem;
	margin: 20px 0px 20px 50px;
}

.modal-slide-preview-container {
	width: 90%;
	display: flex;
}

.slide-preview {
	background: pink;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.slide-image-container {
	background: chartreuse;
	width: 100%;
	min-height: 150px;
}

.slide-preview img {
	width: 100%;
	/* position: absolute; */
}

.slide-preview-overlay {
	/* background: coral; */
	width: 100%;
	height: 150px;
	/* position: absolute; */
}

.slide-preview-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
